{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>

        <div class="row">      
                
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="/images/social/social-youtube.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.youtube }}
                    <h4><a href="{{.}}" style="color: #212529;">YouTube</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.yt_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>           

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="/images/social/social-reddit.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.reddit }}
                    <h4><a href="{{.}}" style="color: #212529;">Reddit</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.redd_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="/images/social/social-github.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.github }}
                    <h4><a href="{{.}}" style="color: #212529;">Github</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.gith_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="/images/social/social-instagram.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.instagram }}
                    <h4><a href="{{.}}" style="color: #212529;">Instagram</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.inst_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 
            
        </div>
    </div>
</section>
{{ end }}
